@charset "UTF-8";
html{
	font-size: 14px;
	background: #a3a3a3;
}
.header{
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #414141;
	top: -16px;
}
.logotype{
	position: relative;
	width: 20%;
	top: 12px;
	left: 20px;
	color: white;
}
.registr-form{
	position: fixed;
	display: flex;
	flex-flow: column;
	top: 15%;
	margin: 0 40% 0 40%;
	width: 280px;
	height: 330px;
	background: #414141;
	text-align: center;
	border-radius: 2%;
}
p {
	font-size: 16px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: white;
}
input[type=text]{
	position: relative;
	margin: 0 13% 0 13%;
	background-color: #414141;
	border-color: white;
	border-radius: 5%;
	color: white;
	width: 200px;
	height: 25px;
}
input[type=password]{
	position: relative;
	margin: 0 13% 0 13%;
	background-color: #414141;
	border-color: white;
	border-radius: 5%;
	color: white;
	width: 200px;
	height: 25px;
}
.registration{
	position: relative;
	margin: 20px 14% 0 14%;
	width: 200px;
	height: 35px;
	border-radius: 5%;
}